header {
    display: flex;
    max-width: 950px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    
    
    
    
    
    
}

.menu-items {
    font-family: 'Heebo', sans-serif;
    
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;




    display: flex;
    align-items: center;
    height: 81px;
    margin: 0 0 0 37px;

}

.menu-items:hover {
    cursor:pointer; 
}

.link:hover {
    color:#FF6464;
}

.hamburger {

  margin-top: 20px;

  width: 32px;
  height: 22px;

  display: none;
  /* display: block; */

 
    
}

.menu-button {
    
    
    width: 35px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 7px;
    
}



.obrezatel-pipisek {
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;
}

.Blog-main-title {
    font-family: "Heebo", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    
}

.Post-1 {
    display: flex;
    padding: 20px;
    padding-bottom: 28px;
    padding-top: 28px;
    padding-left: 0;
    
    margin-left: auto;
    /* 
    */
    margin-right: 10px;
    flex-direction: column;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    
    box-shadow: none;
    border-radius: none;
    width: 610px;
    margin-left: 0;
    margin-right: 0;
    
}

.Post-1_head {
    font-family: "Heebo", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    
    margin-bottom: 38px;

}

.Post-1_info {
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;


}

.Post-1_text {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 28px;


}

.Feat-work-border {
    display: flex;
    flex-direction: inherit;
    border: 1px solid #E0E0E0;
}


.custom  {
}

