html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





header {
    display: flex;
    max-width: 950px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    
    
    
    
    
    
}

.menu-items {
    font-family: 'Heebo', sans-serif;
    
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;




    display: flex;
    align-items: center;
    height: 81px;
    margin: 0 0 0 37px;

}

.menu-items:hover {
    cursor:pointer; 
}

.link:hover {
    color:#FF6464;
}

.hamburger {

  margin-top: 20px;

  width: 32px;
  height: 22px;

  display: none;
  /* display: block; */

 
    
}

.menu-button {
    
    
    width: 35px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 7px;
    
}

/* @media (max-width:375px) {

    .hamburger {
        
        display: flex;
        
        justify-content: flex-end;

        height: auto;
        width: auto;
        
        
        margin-right: 18px;
        
        margin-top: 18px;
    }

    

    .menu-items {
        
        

        justify-content: center;
        margin: 0;
        font-weight: 600;
        
        
        
    }

    .header {
        display: block;
        padding: 0;
    }
    
} */


.textH1 {
    font-family: 'Heebo', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    
 
}

.textH2 {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;


}

/* .greeting-left {
    display: flex; 
    max-width: 497px;
} */

/* .greeting-right {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 360px;  
    justify-content: flex-end;
    text-align: right;
} */

.greeting-left_button {
    font-family: 'Heebo', sans-serif;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;

   


    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;

    color: #FFFFFF;


    

}

.greeting-left_button:hover {
    background-color: #c04949;
    cursor: pointer;
}

.greeting-left_button:active {
    color: #cccccc;
}

.greetings {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 856px;
    margin-top: 78px;
    margin-bottom: 71px;
    
    

}

.greetings-left_text-big {
    display: flex;
    margin-bottom: 44px;
}

.greetings-left_text {
    display: flex; 
    margin-bottom: 35px;
}

.greeting-right {
    margin-left: 115px;
}

.Posts {
    display: flex;
    max-width: auto;
    background-color: #EDF7FA;   
    margin-left: auto;
    margin-right: auto;
}

.Posts-main {
    display: flex;
    max-width: 856px;
    background-color: #EDF7FA;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 69px;
    padding-bottom: 28px;
    flex-direction: column;
     
}

.Posts-information {
    display: flex;
    max-width:856px;
    
    justify-content: space-between;

    
    
    
    
}

.View-all {
    display: flex;
    
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;

    color: rgb(145, 145, 223);
}

.View-all:hover {
    cursor: pointer;
}

.Recent-posts {
    display: flex;
    
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    


    
    
    
}


.Post-1 {
    display: flex;
    padding: 20px;
    padding-bottom: 28px;
    padding-top: 28px;
    
    margin-left: auto;
    /* 
     */
    margin-right: 10px;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;

    
}

.Post-1_head {
    font-family: "Heebo", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    
    margin-bottom: 38px;

}

.Post-1_info {
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;


}

.Post-1_text {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 28px;


}

.Post-2 {
    display: flex;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    margin-left: 10px;
    margin-right: auto;
    flex-direction: column;

    
    
    padding-bottom: 28px;
    padding-top: 28px;

    
}

.Post-2_head {
    font-family: "Heebo", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    
    margin-bottom: 38px;


}

.Post-2_info {
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;


}

.Post-2_text {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 28px;



}

.Post-lead {
    display: flex;
}

.obrezatel-pipisek {
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;
}

.Featured-works {
    margin-left: auto;
    margin-right: auto;
}

.Featured-works-title {
    display: flex;
    font-family: "Heebo", sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0px;
text-align: left;

}

.Feat-work1 {
    display: flex;
    margin-top: 23px;
    margin-bottom: 15px;
}

.Feat-work1-content {
    margin-left: 20px;

}

.Feat-work1-title {
    font-family: "Heebo", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0px;
text-align: left;

}

.Date-Category {
    display: flex;

}

.Feat-work1-category {
    margin-left: 20px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;



    color: #8695A4;


}

.Feat-work1-text {
    margin-top :30px;
}

.Feat-work1-date {
    font-family: 'Heebo', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
padding-left: 12px;

/* identical to box height, or 333% */


color: #FFFFFF;

/* border: 1px solid #000000; */
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: #142850;
border-radius: 16px;

width: 62px;
height: 25px;
}

.Feat-work1-text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

/* Dark Color */

    color: #21243D;

}

.Feat-work-border {
    display: flex;
    flex-direction: inherit;
    border: 1px solid #E0E0E0;
}

.Date-Category {
    margin-top: 20px;
}

.Feat-work1-image {
    margin-top: 10px;
}

.footer-end {
    display: flex;
    height: 182px;
    justify-content: center;
    align-items: center;
}



.footer-media {
    display: flex;
    flex-direction: column


}

.media {
    margin-right:35px
}

.footer-copyright {
    display: flex;
    
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    
    
    
    
    
    color: #21243D;
    
}

.first-otdel {
   display: flex;
}

.second-otdel {
    display: flex;
    margin-top: 20px;
}